section {
    background: linear-gradient(to bottom, transparent, #5D2CA8);
    background-color: rgb(3, 0, 11);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg, #3b66f3, #d66ef3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    padding-bottom: 4rem;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 5;
}

app-accordion-item {
    width: 100%;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.1rem;
    }
}