.card {
    border: 1px solid #ffffffb3;
    border-radius: 15px;
    padding: 15px;
    max-width: 32.5rem;
    background-color: #0c0c0c;
    box-shadow: -3px 2px 5px 3px #151515;
}

.container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.monitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

img {
    width: 100%;
    border: solid 5px #000000;
    border-radius: 8px;
    display: block;
}

.monitor-stand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stand-neck {
    width: 25%;
    height: 37px;
    background-color: #e8e8e8;
    box-shadow: 
        inset 0 6px 6px rgba(0, 0, 0, 0.15),
        inset 6px 0 6px rgba(0, 0, 0, 0.15),
        inset -6px 0 6px rgba(0, 0, 0, 0.15)
}

.stand-base {
    width: 25%;
    height: 4px;
    background-color: #a0a0a0;
    border-radius: 0 0 4px 4px;
}

h3 {
    color: white;
    font-size: 1.6rem;
    font-weight: 650;
    margin: 0;
    padding-bottom: 8px;
}

p {
    color: #ffffffb3;
    margin: 0;
    height: 5rem;
    font-size: 1.2rem;
}

@media (max-width: 650px) {
    .card {
        max-width: 20rem;
    }
}

.link-container {
    display: flex;
    gap: 20px;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

i {
    padding-right: 5px;
}

.link-git {
    color: #ff61d8;
}

.link-git i, 
.link-web i {
    transition: transform 0.3s ease;
}

.link-git:hover i {
    transform: scale(1.2);
}

.link-web {
    color: #4cc9f0;
}

.icon-web {
    font-size: 0.85rem;
}

.link-web:hover i {
    transform: rotatez(45deg)
}