.card {
    border: 1px solid #ffffffb3;
    border-radius: 15px;
    padding: 15px;
    max-width: 32.5rem;
}

h3 {
    color: white;
    font-size: 1.6rem;
    font-weight: 650;
    margin: 0;
    padding-bottom: 8px;
}

p {
    color: #ffffffb3;
    margin: 0;
    font-size: 1.2rem;
}

@media (max-width: 650) {
    .card {
        max-width: 10rem;
    }
}

.link-container {
    display: flex;
    gap: 20px;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

i {
    padding-right: 5px;
}

.link-git {
    color: #ff61d8;
}

.link-git i, 
.link-web i {
    transition: transform 0.3s ease;
}


.link-git:hover i {
    transform: scale(1.2);
}

.link-web {
    color: #4cc9f0;
}

.link-web:hover i {
    transform: rotatez(45deg)
}