<div class="card">
    <div class="container-image">
        <div class="monitor">
            <img [src]="imagePath" alt="image projet"/>
            <div class="monitor-stand">
                <div class="stand-neck"></div>
                <div class="stand-base"></div>
            </div>
        </div>
    </div>
    <h3>{{title}}</h3>
    <p>{{desc}}</p>
    <div class="link-container">
        @if (githubUrl != undefined) {
            <a [href]="githubUrl" class="link-git" aria-label="Voir le github du projet" target="_blank" rel="noopener">
                <i class="fa-brands fa-github"></i>
                <span>Voir code</span>
            </a>
        }
        @if (siteUrl != undefined) {
            <a [href]="siteUrl" class="link-web" aria-label="Voir le projet" target="_blank" rel="noopener">
                <i class="fa-sharp fa-solid fa-arrow-up-right-from-square icon-web"></i>
                <span>Lien du site</span>
            </a>
        }
    </div>
</div>
