.container-spinner {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(8px);
    pointer-events: none;
}

.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      #0A1460 0%,
      #050A2E 45%,
      #02061A 80%,
      #00020F 100%
    );
    border-radius: 50%;
    position: relative;
    z-index: 100;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow:
      0 -10px 20px 20px rgba(90, 60, 255, 0.25) inset,
      0 -5px 15px 10px rgba(90, 60, 255, 0.35) inset,
      0 -2px 5px rgba(90, 60, 255, 0.55) inset,
      0 -3px 2px rgba(120, 90, 255, 0.75) inset,
      0 2px 0px rgba(140, 110, 255, 0.85),
      0 2px 3px rgba(140, 110, 255, 0.75),
      0 5px 5px rgba(90, 60, 255, 0.45),
      0 10px 15px rgba(90, 60, 255, 0.30),
      0 15px 15px 15px rgba(90, 60, 255, 0.20);

    filter: blur(3px);
    animation: 1.2s rotate linear infinite;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg) }
  }
      