.form-container {
    display: flex;
    justify-content: center;
    border: 1px solid #ffffffb3;
    margin: 1rem 2rem;
    padding: 1rem;
    border-radius: 15px;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.contact-form {
    width: 100%;
    padding: 1rem;;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    background-color: black;
    border: 1px solid #ffffffb3;
    border-radius: 5px;
    color: white;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #d66ef3;
    box-shadow: 0 0 0 2px rgba(158, 32, 193, 0.25)
}

.contact-form textarea {
    resize: vertical;
}

textarea::-webkit-scrollbar {
  background: #000;
  border-radius: 10px;
  width: 10px;
}

textarea::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(to bottom, #3b66f3, #d66ef3);
  border-radius: 5px;
}

textarea::-webkit-scrollbar-corner {
    background-color: black;
}

textarea::-webkit-scrollbar-track-piece  {
    background-color: black;
    -webkit-border-radius: 16px;
    width: 10px;
}

.contact-form .form-input label {
    color: #ffffffb3;
    padding-bottom: 10px;
}

.send-button {
    background: linear-gradient(to right, #3b66f3, #d66ef3);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    border: 1px solid #000000b3;
    border-radius: 5px;
    margin-top: 1.5rem;
    transition: transform 0.3s ease;
}

.send-button:hover {
    transform: scale(1.03);
}

.send-button label {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 750px) {
    .send-button label {
        font-size: 0.8rem;
    }

    .send-button svg {
        width: 20px;
        height: 20px;
    }

    .form-container {
        padding: 0;
    }
}