<div class="form-container">
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <label for="name">Nom</label>
            <input type="text" placeholder="Nom" id="name" autocomplete="name" formControlName="name">
            <div class="container-error">
                @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @if (contactForm.get('name')?.errors?.['required']) {
                        <small>Le nom est requis</small>
                    }
                    @if (contactForm.get('name')?.errors?.['minlength']) {
                        <small>Minimum 2 caractères</small>
                    }
                }        
            </div>    
        </div>
        <div class="form-input">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" id="email" autocomplete="email" formControlName="email">
            <div class="container-error">
                @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @if (contactForm.get('email')?.errors?.['required']) {
                        <small>L'email est requis</small>
                    }
                    @if (contactForm.get('email')?.errors?.['email']) {
                        <small>Email invalide</small>
                    }
                }        
            </div>
        </div>
        <div class="form-input">
            <label for="subject">Sujet</label>
            <input type="text" placeholder="Sujet" id="subject" autocomplete="off" formControlName="subject">
            <div class="container-error">
                @if (contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched) {
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @if (contactForm.get('subject')?.errors?.['required']) {
                        <small>Le sujet est requis</small>
                    }
                    @if (contactForm.get('subject')?.errors?.['minlength']) {
                        <small>Minimum 2 caractères</small>
                    }
                }        
            </div>
        </div>
        <div class="form-input">
            <label for="message">Message</label>
            <textarea name="" id="" placeholder="Message" id="message" autocomplete="off" formControlName="message" autocorrect="on" rows="8"></textarea>
            <div class="container-error">
                @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    @if (contactForm.get('message')?.errors?.['required']) {
                        <small>Le message est requis</small>
                    }
                }        
            </div>
        </div>

        <button class="send-button" type="submit" [disabled]="contactForm.invalid">
            <span>Envoyer</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="1.80"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M10 14l11 -11" />
                <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
            </svg>
        </button>
    </form>
</div>

@if (isSubmitting) {
 <app-spinner></app-spinner>
}

<app-status-feedback
  [show]="showStatus"
  [type]="statusType"
  [message]="statusMessage">
</app-status-feedback>


