<div class="section-container">
    <div class="container">
        <h1>Thomas Olivier</h1>
        <h2>Développeur FullStack</h2>
        <div class="separator"></div>
        <h3 #typingTitle class="h3-typing">Construire des produits, pas seulement du code.</h3>
        <div class="button-list">
            <a href="https://github.com/thomasolivier-dev" aria-label="Visiter mon github" target="_blank" rel="noopener">
                <i class="fa-brands fa-github icon-git"></i>
            </a>
            <a href="https://www.linkedin.com/in/thomas-olivier-60788a222/" aria-label="Visiter ma page Linkedin" target="_blank" rel="noopener">
                <i class="fa-brands fa-linkedin-in icon-linkedin"></i>
            </a>
            <a href="#contact" aria-label="Envoyer moi un message">
                <i class="fa-solid fa-envelope icon-contact"></i>
            </a>
        </div>
    </div>
</div>