.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 80%;
    position: sticky;
    top: 0;
    z-index: 50;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1.5rem 1.5rem;
  width: 100%;
  color: white;
}

.logo {
  position: relative;
  left: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 10;
  background: linear-gradient(to right, #133cc2, #9e20c1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0 0 5px rgba(147, 51, 234, 0.2))
          drop-shadow(0 0 10px rgba(147, 51, 234, 0.1));
  justify-self: start;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  grid-column: 2;
}

.nav-list a {
  text-decoration: none;
  color: hsl(0, 0%, 80%);
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #d66ef3;
}

.navbar button {
  all: unset;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

.navbar button img {
  display: block;          
  width: 2rem;
  height: auto;
  transition: transform 0.2s ease, filter 0.2s ease;

}

.navbar button:hover img {
  transform: scale(1.1);
  filter: brightness(1.3);
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.mobile-menu a {
  display: block;
  padding: 1.5rem 2rem;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.mobile-menu a:hover {
  color: white;
  padding-left: 2.5rem;
  letter-spacing: 1px;
}

.close-button {
  all: unset;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.close-button img {
  display: block;          
  width: 2rem;
  height: auto;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.close-button:hover img {
  transform: scale(1.1);
  filter: brightness(1.3);
}

@media (min-width: 1656px) {
    .navbar {
        max-width: 1656px;
    }
}

@media (max-width: 875px) {
    .nav-list {
        display: none;
    }

    .navbar button {
      display: block;
    }

    .logo {
        left: 0;
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    .container {
        min-width: 350px;
    }
}