.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 80%;
    position: sticky;
    top: 0;
    z-index: 50;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1.5rem 1.5rem;
  width: 100%;
  color: white;
}

.logo {
  position: relative;
  left: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 10;
  background: linear-gradient(to right, #133cc2, #9e20c1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0 0 5px rgba(147, 51, 234, 0.2))
          drop-shadow(0 0 10px rgba(147, 51, 234, 0.1));
  justify-self: start;
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  grid-column: 2;
}

a {
  text-decoration: none;
}

.nav-list a {
  color: hsl(0, 0%, 80%);
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: hsl(270, 48%, 74%);
}

.navbar button {
  all: unset;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
}

.navbar button img {
  display: block;          
  width: 2rem;
  height: auto;
}

@media (min-width: 1656px) {
    .navbar {
        max-width: 1656px;
    }
}

@media (max-width: 875px) {
    .nav-list {
        display: none;
    }

    .navbar button {
      display: block;
    }

    .logo {
        left: 0;
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    .container {
        min-width: 350px;
    }
}