.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  opacity: 80%;
  z-index: 50;
}

.logo {
  position: absolute;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 10;
  background: linear-gradient(to right, #133cc2, #9e20c1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(0 0 5px rgba(147, 51, 234, 0.2))
          drop-shadow(0 0 10px rgba(147, 51, 234, 0.1));
}

.nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-list a {
  color: hsl(0, 0%, 80%);
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: hsl(270, 48%, 74%);
}