.skill-card {
    padding: 1rem;
    border: 0.2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    transition: 
        transform 0.3s ease, 
        box-shadow 0.3s ease, 
        border-color 0.3s ease;
}

.card-title {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-title span {
    font-size: 1.5rem;
    color: #3b66f3;
}

.card-title lucide-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #3b66f3;
}

.skill-card:hover {
    transform: scale(1.03);
    border-color: #3b66f3;
    box-shadow: 0 4px 10px -3px rgba(81, 44, 228, 0.6);
}