<div class="skill-card">
  <div class="card-title">
    <lucide-icon [img]="iconData"></lucide-icon>
    <span>{{title}}</span>
  </div>
  <div class="grid">
    @for (techno of technos; track $index) {
        <div class="skill-item">
            <div class="skill-content">
                <img [src]="techno.imagePath"/>
                <span aria-label="nom de la technologie maitrisé">{{techno.name}}</span>
            </div>
            <div class="skill-rating">
                <div class="stars">
                    @for (filled of getStars(techno.rating); track $index) {
                    <span class="star" [class.filled]="filled">★</span>
                    }
                </div>
            </div>
        </div>
    }
  </div>
</div>