.accordion {
    background-color: #15131a;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.question span {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

button {
    background-color: white;
    border-radius: 15px;
    padding: 0.8rem;
    cursor: pointer;
}

.question i {
    font-size: 0.9rem;
}

.accordion p {
    font-size: 1rem;
    color: white;
    padding-top: 1rem;
    margin: 0;
}

@media (max-width: 700px) {
    .accordion p {
        font-size: 0.8rem;
    }

    .question i {
        font-size: 0.8rem;
    }

    .question span {
        font-size: 1rem;
    }

}