.accordion {
    background-color: #15131a;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

button {
    background-color: white;
    border-radius: 15px;
    padding: 0.8rem;
    cursor: pointer;
}

.question i {
    font-size: 1rem;
}

.accordion p {
    font-size: 1rem;
    color: white;
    padding-top: 1rem;
    margin: 0;
}