.wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    border: 1px solid #ffffff23;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.tooltip {
    position: absolute;
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffffb3;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 1px;
    background-color: #4cc9f0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
    animation: bounce 0.7s ease-out;
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(15px);
        opacity: 0;
    }
    40% {
        transform: translateX(-50%) translateY(-8px);
    }
    65% {
        transform: translateX(-50%) translateY(4px);
    }
    80% {
        transform: translateX(-50%) translateY(-2px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}