<div class="section-container">
    <div class="container">
        <h2>Mes projets</h2>
        <div class="grid-project">
            @for (project of projects; track $index) {
                <app-project-card
                    [title]="project.title"
                    [desc]="project.desc"
                    [siteUrl]="project.siteUrl"
                    [githubUrl]="project.githubUrl"
                    [imagePath]="project.image"
                >
                </app-project-card>
            }
        </div>
    </div>
</div>
