section {
    background-color: rgb(3, 0, 11);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6rem 2rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg, #3b66f3, #d66ef3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    padding-bottom: 4rem;
    z-index: 5;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
}

.grid-project {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
}

.grid-project:has(> :only-child) > * {
  grid-column: 2;
}

.grid-project:has(> :nth-child(2):last-child) {
  grid-template-columns: repeat(2, 0.75fr);
}

@media (max-width: 950px) {
    .grid-project {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-project:has(> :only-child) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .grid-project:has(> :only-child) > * {
    width: 70%;
  }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.1rem;
    }
}

@media (max-width: 650px) {
    .grid-project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .grid-project:has(> :only-child) > * {
        width: unset;
    }
}