.background {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 1);
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
    background: linear-gradient(90deg, #3b66f3, #d66ef3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    z-index: 5;
}