<div class="section-container">
    <div class="container">
        <h2>Mes compétences</h2>
        <h3>Technologies et outils que je maîtrise pour créer des solutions performantes</h3>
        <div class="wrapper">
            <app-skill-card title="Frontend" icon="monitor" type="frontend"></app-skill-card>
            <app-skill-card title="Backend" icon="server" type="backend"></app-skill-card>
            <app-skill-card title="Base de données" icon="database" type="database"></app-skill-card>
            <app-skill-card title="Outils/Logiciels" icon="wrench" type="outils"></app-skill-card>
            <app-skill-card title="Gestion de projet" icon="clipboard-list" type="gestion-projet"></app-skill-card>
        </div>
    </div>
</div>