.section-container {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    width: 100%;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(90deg, #3b66f3, #d66ef3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
    margin: 0;
    z-index: 5;
}

h3 {
    position: relative;
    color: #b6b5b5;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    z-index: 5;
}

.wrapper {
    position: relative;
    z-index: 5;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 1rem;
    gap: 15px;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem 2rem;
    }
}

@media (max-width: 650px) {
    .wrapper {
        grid-template-columns: 1fr;
        padding: 3rem 2rem;
    }
}