<div class="section-container">
    <div class="container">
        <h2>Mes compétences</h2>
        <h3>Technologies et outils que je maîtrise pour créer des solutions performantes</h3>
        <div class="wrapper">
            <app-skill-card title="Frontend" icon="monitor"></app-skill-card>
            <app-skill-card title="Backend" icon="server"></app-skill-card>
            <app-skill-card title="Base de données" icon="database"></app-skill-card>
            <app-skill-card title="Outils" icon="wrench"></app-skill-card>
            <app-skill-card title="Gestion de projet" icon="clipboard-list"></app-skill-card>
        </div>
    </div>
</div>