<div class="section-container">
    <div class="container">
        <h2>Présentation</h2>
        <div class="grid">
            <img class="image-deco" src="images/test.png" alt="image code décoratif"/>
            <p class="about">rdtfuhdsdqffgfhgjhkjlkiyftdrfgh</p>
            <div class="grid-info">
                <div class="exp">
                    <span>1 an d'expéience</span>
                </div>
                    <a class="cv" href="cv/CV.pdf" download="Thomas-Olivier-CV.pdf">Consultez mon CV</a>

            </div>
        </div>
    </div>
</div>