<div class="section-container">
    <div class="container">
        <h2>Présentation</h2>
        <div class="grid">
            <img class="image-deco" src="images/code.png" alt="image code décoratif"/>
            <div class="about">
                <h3>À propos de moi</h3>
                <p>{{descriptionText}}</p>
            </div>
            <div class="grid-info">
                <div class="exp">
                    <i class="fa-solid fa-code"></i>
                    <div class="exp-content">
                        <span class="exp-number">1 an</span>
                        <span class="exp-label">d'expérience</span>
                    </div>
                </div>
                <a class="cv" href="cv/CV.pdf" download="Thomas-Olivier-CV.pdf">
                    <i class="fa-solid fa-download"></i>
                    <span>Consultez mon CV</span>
                </a>
            </div>
        </div>
    </div>
</div>